spawn-at-startup "noctalia"
include optional=true "noctalia.kdl"
prefer-no-csd
input {
    keyboard {
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
    }
    touchpad {
        tap
        natural-scroll
    }
    focus-follows-mouse
}
output "HDMI-A-1" {
    focus-at-startup
    transform "normal"
    position x=-1536 y=-240
    mode "2560x1440@143.999000"
}
output "eDP-1" {
    transform "normal"
    mode "1920x1200@60.003000"
}
output "Virtual-1" {
    transform "normal"
    mode "2560x1440@59.974"
}
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}
layout {
    gaps 0
    focus-ring {
        width 0
    }
    border {
        width 4
    }
    default-column-width {
        proportion 0.5
    }
    center-focused-column "never"
    always-center-single-column
}
cursor {
    xcursor-theme "catppuccin-mocha-dark-cursors"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 4000
}
hotkey-overlay {
    skip-at-startup
}
recent-windows {
    off
}
debug {
    honor-xdg-activation-with-invalid-serial true
}
binds {
    Mod+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit
    }
    Mod+C repeat=false {
        close-window
    }
    Mod+F {
        maximize-column
    }
    Mod+O repeat=false {
        toggle-overview
    }
    Mod+V {
        toggle-window-floating
    }
    Mod+WheelScrollLeft {
        focus-column-left
    }
    Mod+WheelScrollRight {
        focus-column-right
    }
    Mod+H {
        focus-column-left
    }
    Mod+J {
        focus-window-or-workspace-down
    }
    Mod+K {
        focus-window-or-workspace-up
    }
    Mod+L {
        focus-column-right
    }
    Mod+Alt+H {
        consume-or-expel-window-left
    }
    Mod+Alt+J {
        move-window-down-or-to-workspace-down
    }
    Mod+Alt+K {
        move-window-up-or-to-workspace-up
    }
    Mod+Alt+L {
        consume-or-expel-window-right
    }
    Mod+Comma {
        switch-preset-column-width
    }
    Mod+Period {
        switch-preset-window-height
    }
    Mod+Slash {
        reset-window-height
    }
    Mod+Space {
        spawn-sh "noctalia msg panel-toggle launcher"
    }
    Mod+S {
        spawn-sh "noctalia msg panel-toggle control-center"
    }
    Mod+Shift+G {
        spawn-sh "noctalia msg session lock"
    }
    Mod+Alt+G {
        spawn-sh "noctalia msg session logout"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "noctalia" "msg" "volume-down"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "noctalia" "msg" "mic-mute"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "noctalia" "msg" "volume-mute"
    }
    XF86AudioNext allow-when-locked=true {
        spawn "noctalia" "msg" "media" "next"
    }
    XF86AudioPlay allow-when-locked=true {
        spawn "noctalia" "msg" "media" "toggle"
    }
    XF86AudioPrev allow-when-locked=true {
        spawn "noctalia" "msg" "media" "previous"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "noctalia" "msg" "volume-up"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "noctalia" "msg" "brightness-down"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "noctalia" "msg" "brightness-up"
    }
}
